    <EditForm Model="Monitor" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />

    <form>
        <div class="form-row">
            <div class="form-group col-md-8">
                <label>Display </label>
                <InputNumber class="form-control" @bind-Value="@Monitor.Display" />
                <ValidationMessage For="@(() => Monitor.Display)" />
            </div>
            <div class="form-group col-md-4">
                <label>Display measure</label>
                <InputSelect class="form-control" @bind-Value="@Monitor.DisplayMeasure">
                    <option value="">Select measure...</option>
                    <option>cm</option>
                    <option>foot</option>
                    <option>inch</option>
                    <option>m</option>
                    <option>mm</option>
                </InputSelect>
                <ValidationMessage For="@(() => Monitor.DisplayMeasure)" />
            </div>
        </div>

        <div class="form-group">
            <label>Type</label>
            <div>
                <InputText class="form-control" @bind-Value="@Monitor.Type" />
                <ValidationMessage For="@(() => Monitor.Type)" />
            </div>
        </div>

        <div class="form-group">
            <label>Resolution</label>
            <div>
                <InputText class="form-control" @bind-Value="@Monitor.Resolution" />
                <ValidationMessage For="@(() => Monitor.Resolution)" />
            </div>
        </div>

        <div class="form-group">
            <label>Pivot</label>
            <div>
                <InputCheckbox @bind-Value="@Monitor.Pivot" />
                <ValidationMessage For="@(() => Monitor.Pivot)" />
            </div>
        </div>

        <div class="form-group">
            <label>Speaker</label>
            <div>
                <InputCheckbox @bind-Value="@Monitor.Speaker" />
                <ValidationMessage For="@(() => Monitor.Speaker)" />
            </div>
        </div>

        <div class="form-group">
            <label>Description</label>
            <div>
                <InputTextArea class="form-control" @bind-Value="@Monitor.Description" />
                <ValidationMessage For="@(() => Monitor.Description)" />
            </div>
        </div>
    </form>

    <ModelForm Model="Model" />
    @*<GeneralForm General="General" />*@
    <FormFactorForm FormFactor="FormFactor" />
    <PowerConsumerForm PowerConsumer="PowerConsumer" />

    <button class="btn btn-primary" type="submit">Save Changes</button>
</EditForm>

@code {
    [Parameter] public Monitor Monitor { get; set; }
    [Parameter] public Model Model { get; set; }
    //[Parameter] public General General { get; set; }
    [Parameter] public FormFactor FormFactor { get; set; }
    [Parameter] public PowerConsumer PowerConsumer { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
