<div id="general">
    <h3>General</h3>
</div>

@*<EditForm Model="General">
    <DataAnnotationsValidator />
    <ValidationSummary />*@

    <div class="form-group row">
        <div class="col-md-8">
            <div class="formInputModel">
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">Title</label>
                    <div class="col-md-4">
                        <InputText class="form-control form-control-sm" @bind-Value="@General.Title" />
                        <ValidationMessage For="@(() => General.Title)" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 col-form-label">Purpose</label>
                    <div class="col-md-4">
                        <InputText class="form-control form-control-sm" @bind-Value="@General.Purpose" />
                        <ValidationMessage For="@(() => General.Purpose)" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 col-form-label">Status</label>
                    <div class="col-md-4">
                        <InputSelect class="form-control form-control-sm" @bind-Value="@General.Status">
                            <option value="">Select status...</option>
                            <option>defect</option>
                            <option>delivered</option>
                            <option>in operation</option>
                            <option>ordered</option>
                            <option>planned</option>
                        </InputSelect>
                    </div>
                    <ValidationMessage For="@(() => General.Status)" />
                </div>

                <div class="form-group row">
                    <label class="col-md-2 col-form-label">Tags</label>
                    <div class="col-md-4">

                        @*@if (General.Tag != null)
                            {
                                <TagComponent Tags="General.Tag" />
                            }
                            else
                            {

                            }*@
                        <TagComponent General="General" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 col-form-label">Description</label>
                    <div class="col-md-7">
                        <InputTextArea class="form-control" @bind-Value="@General.Description" />
                        <ValidationMessage For="@(() => General.Description)" />
                    </div>
                </div>
            </div>
        </div>
    </div>

@*</EditForm>*@

@code {
    [Parameter] public General General { get; set; }

    protected override void OnInitialized()
    { 
        //Console.WriteLine("testing" + General.Tag.Count);
    }
}
