<h3>Memory Form</h3>
<EditForm Model="Memory">
    <DataAnnotationsValidator />

    <div class="form-group row">
        <div class="col-md-8">
            <div class="formInputModel">
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">Title</label>
                    <div class="col-md-4">
                        <InputText class="form-control form-control-sm" @bind-Value="@Memory.Title" />
                        <ValidationMessage For="@(() => Memory.Title)" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 col-form-label">Manufacturer</label>
                    <div class="col-md-4">
                        <InputText class="form-control form-control-sm" @bind-Value="@Memory.Manufacture" />
                        <ValidationMessage For="@(() => Memory.Manufacture)" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 col-form-label">Type</label>
                    <div class="col-md-4">
                        <InputText class="form-control form-control-sm" @bind-Value="@Memory.Type" />
                        <ValidationMessage For="@(() => Memory.Type)" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 col-form-label">Capacity</label>
                    <div class="col-md-4">
                        <InputText class="form-control form-control-sm" @bind-Value="@Memory.Capacity" />
                        <ValidationMessage For="@(() => Memory.Capacity)" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 col-form-label">Description</label>
                    <div class="col-md-7">
                        <InputTextArea class="form-control" @bind-Value="@Memory.Description" />
                        <ValidationMessage For="@(() => Memory.Description)" />
                    </div>
                </div>
            </div>
        </div>
    </div>

</EditForm>

@code {
    [Parameter] public Memory Memory { get; set; }
}

