<h3>Model Form</h3>
<EditForm Model="FormFactor">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label>Form factor</label>
        <div>
            <InputText class="form-control" @bind-Value="@FormFactor.Name" />
            <ValidationMessage For="@(() => FormFactor.Name)" />
        </div>
    </div>

    <div class="form-group">
        <label>Rack units</label>
        <div>
            <InputNumber class="form-control" @bind-Value="@FormFactor.RackUnit" />
            <ValidationMessage For="@(() => FormFactor.RackUnit)" />
        </div>
    </div>

    <div class="form-group col-md-4">
        <label>Dimension unit</label>
        <InputSelect class="form-control" @bind-Value="@FormFactor.DimesnsionUnit">
            <option value="">Select measure...</option>
            <option>cm</option>
            <option>foot</option>
            <option>inch</option>
            <option>m</option>
            <option>mm</option>
        </InputSelect>
        <ValidationMessage For="@(() => FormFactor.DimesnsionUnit)" />
    </div>

    <div class="form-group">
        <label>Width</label>
        <div>
            <InputNumber class="form-control" @bind-Value="@FormFactor.Width" />
            <ValidationMessage For="@(() => FormFactor.Width)" />
        </div>
    </div>

    <div class="form-group">
        <label>Height</label>
        <div>
            <InputNumber class="form-control" @bind-Value="@FormFactor.Height" />
            <ValidationMessage For="@(() => FormFactor.Height)" />
        </div>
    </div>

    <div class="form-group">
        <label>Depth</label>
        <div>
            <InputNumber class="form-control" @bind-Value="@FormFactor.Depth" />
            <ValidationMessage For="@(() => FormFactor.Depth)" />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group">
            <label>Weight</label>
            <div>
                <InputNumber class="form-control" @bind-Value="@FormFactor.Weight" />
                <ValidationMessage For="@(() => FormFactor.Weight)" />
            </div>
        </div>
        <div class="form-group col-md-4">
            <label>Display measure</label>
            <InputSelect class="form-control" @bind-Value="@FormFactor.WeightMeasure">
                <option value="">Select measure...</option>
                <option>g</option>
                <option>kg</option>
                <option>t</option>
            </InputSelect>
            <ValidationMessage For="@(() => FormFactor.WeightMeasure)" />
        </div>
    </div>

    <div class="form-group">
        <label>Description</label>
        <div>
            <InputTextArea class="form-control" @bind-Value="@FormFactor.Description" />
            <ValidationMessage For="@(() => FormFactor.Description)" />
        </div>
    </div>

</EditForm>

@code {
    [Parameter] public FormFactor FormFactor { get; set; }
}

