<h3>General Form</h3>
<EditForm Model="General">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label>Title</label>
        <div>
            <InputText class="form-control" @bind-Value="@General.Title" />
            <ValidationMessage For="@(() => General.Title)" />
        </div>
    </div>

    <div class="form-group">
        <label>Category</label>
        <div>
            <InputText class="form-control" @bind-Value="@General.Category" />
            <ValidationMessage For="@(() => General.Category)" />
        </div>
    </div>

    <div class="form-group">
        <label>Purpose</label>
        <div>
            <InputText class="form-control" @bind-Value="@General.Purpose" />
            <ValidationMessage For="@(() => General.Purpose)" />
        </div>
    </div>

    <div class="form-group">
        <label>Condition</label>
        <div>
            <InputText class="form-control" @bind-Value="@General.Condition" />
            <ValidationMessage For="@(() => General.Condition)" />
        </div>
    </div>
    <div class="form-group">
        <label>CMDB status</label>
        <InputSelect class="form-control" @bind-Value="@General.CMDBStatus">
            <option value="">Select measure...</option>
            <option>defect</option>
            <option>delivered</option>
            <option>in operation</option>
            <option>ordered</option>
            <option>planned</option>
        </InputSelect>
        <ValidationMessage For="@(() => General.CMDBStatus)" />
    </div>

    <div class="form-group">
        <label>Object ID</label>
        <div>
            <InputText class="form-control" @bind-Value="@General.ObjectID" />
            <ValidationMessage For="@(() => General.ObjectID)" />
        </div>
    </div>

    <div class="form-group">
        <label>Onject type</label>
        <div>
            <InputText class="form-control" @bind-Value="@General.ObjectType" />
            <ValidationMessage For="@(() => General.ObjectType)" />
        </div>
    </div>

    <div class="form-group">
        <label>SYSID</label>
        <div>
            <InputText class="form-control" @bind-Value="@General.SYSID" />
            <ValidationMessage For="@(() => General.SYSID)" />
        </div>
    </div>

    <div class="form-group">
        <label>Description</label>
        <div>
            <InputTextArea class="form-control" @bind-Value="@General.Description" />
            <ValidationMessage For="@(() => General.Description)" />
        </div>
    </div>

</EditForm>

@code {
    [Parameter] public General General { get; set; }
}
