<h3>Model Form</h3>
<EditForm Model="Model">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label>Manufacturer</label>
        <div>
        </div>
    </div>

    <div class="form-group">
        <label>Model</label>
        <div>
            <InputText class="form-control" @bind-Value="@Model.Name" />
            <ValidationMessage For="@(() => Model.Name)" />
        </div>
    </div>

    <div class="form-group">
        <label>Product ID</label>
        <div>
            <InputText @bind-Value="@Model.ProductID" />
            <ValidationMessage For="@(() => Model.ProductID)" />
        </div>
    </div>

    <div class="form-group">
        <label>Service Tag</label>
        <div>
            <InputText @bind-Value="@Model.ServiceTag" />
            <ValidationMessage For="@(() => Model.ServiceTag)" />
        </div>
    </div>

    <div class="form-group">
        <label>Serial number</label>
        <div>
            <InputText @bind-Value="@Model.SerialNumber" />
            <ValidationMessage For="@(() => Model.SerialNumber)" />
        </div>
    </div>

    <div class="form-group">
        <label>Firmware</label>
        <div>
            <InputText @bind-Value="@Model.Firmware" />
            <ValidationMessage For="@(() => Model.Firmware)" />
        </div>
    </div>

    <div class="form-group">
        <label>Description</label>
        <div>
            <InputTextArea class="form-control" @bind-Value="@Model.Description" />
            <ValidationMessage For="@(() => Model.Description)" />
        </div>
    </div>

</EditForm>

    @code {
        [Parameter] public Model Model { get; set; }
    }

