<h3>PowerConsumer Form</h3>
<EditForm Model="PowerConsumer">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label>Title</label>
        <div>
            <InputText class="form-control" @bind-Value="@PowerConsumer.Title" />
            <ValidationMessage For="@(() => PowerConsumer.Title)" />
        </div>
    </div>

    <div class="form-group">
        <label>Active</label>
        <div>
            <InputCheckbox @bind-Value="@PowerConsumer.Active" />
            <ValidationMessage For="@(() => PowerConsumer.Active)" />
        </div>
    </div>

    <div class="form-group">
        <label>Manufactutrer</label>
        <div>
            <InputText @bind-Value="@PowerConsumer.Manufacturer" />
            <ValidationMessage For="@(() => PowerConsumer.Manufacturer)" />
        </div>
    </div>

    <div class="form-group">
        <label>PowerModel</label>
        <div>
            <InputText @bind-Value="@PowerConsumer.PowerModel" />
            <ValidationMessage For="@(() => PowerConsumer.PowerModel)" />
        </div>
    </div>

    <div class="form-group">
        <label>Volt</label>
        <div>
            <InputNumber @bind-Value="@PowerConsumer.Volt" />
            <ValidationMessage For="@(() => PowerConsumer.Volt)" />
        </div>
    </div>

    <div class="form-group">
        <label>Watt</label>
        <div>
            <InputNumber @bind-Value="@PowerConsumer.Watt" />
            <ValidationMessage For="@(() => PowerConsumer.Watt)" />
        </div>
    </div>

    <div class="form-group">
        <label>Ampere</label>
        <div>
            <InputNumber @bind-Value="@PowerConsumer.Ampere" />
            <ValidationMessage For="@(() => PowerConsumer.Ampere)" />
        </div>
    </div>

    <div class="form-group">
        <label>BTU</label>
        <div>
            <InputText @bind-Value="@PowerConsumer.BTU" />
            <ValidationMessage For="@(() => PowerConsumer.BTU)" />
        </div>
    </div>

    <div class="form-group">
        <label>Description</label>
        <div>
            <InputTextArea class="form-control" @bind-Value="@PowerConsumer.Description" />
            <ValidationMessage For="@(() => PowerConsumer.Description)" />
        </div>
    </div>

</EditForm>

@code {
    [Parameter] public PowerConsumer PowerConsumer { get; set; }
}

