@page "/switch"
@inject ISwitchRepository switchRepository

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h3>Switches</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">

                <div class="form-group">
                    <a class="btn btn-info" href="switch/create"><span class="ri oi oi-plus" /> New Switch</a>
                </div>

                <div class="form-row p-1">
                    <div class="form-group m-1">
                        <label>Display </label>
                        <select class="custom-select-sm" @bind="@recordsPerPage" @onclick="LoadPage">
                            <option value="">5</option>
                            <option>10</option>
                            <option>15</option>
                            <option>20</option>
                        </select>
                        <label> switches</label>
                    </div>
                </div>


                <GenericList List="Switches">
                    <WholeListTemplate>
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th>Title</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Switches)
                                {
                                    <tr>
                                        <td>@item.General.Title</td>
                                        <td>@item.General.Status</td>
                                        <td>
                                            <a href="/switch/detail/@item.Id"><span class="oi oi-eye" /></a>
                                            <a href="/switch/edit/@item.Id"><span class="oi oi-pencil" /></a>
                                            <a href="/switch" @onclick="@(() => DeleteSwitch(item.Id))"><span class="oi oi-trash" /></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </WholeListTemplate>
                </GenericList>
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex">
                            <div class="ml-auto">
                                <Pagination CurrentPage="@paginationDTO.Page" TotalAmountPages="totalAmountPages"
                                            SelectedPage="SelectedPage" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    List<Switch> Switches;
    PaginationDTO paginationDTO = new PaginationDTO();
    private int totalAmountPages;
    private int recordsPerPage = 5;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await LoadSwitches();
        }
        catch (Exception ex)
        {

        }
    }

    private async Task LoadPage()
    {
        paginationDTO = new PaginationDTO();
        await LoadSwitches();
    }

    private async Task LoadSwitches()
    {
        paginationDTO.RecordsPerPage = recordsPerPage;
        var paginatedResponse = await switchRepository.GetSwitches(paginationDTO);
        Switches = paginatedResponse.Response;
        totalAmountPages = paginatedResponse.TotalAmountPages;
    }

    private async Task SelectedPage(int page)
    {
        paginationDTO.Page = page;
        await LoadSwitches();
    }

    private async Task DeleteSwitch(int id)
    {
        await switchRepository.DeleteSwitch(id);
        await LoadSwitches();
    }
}
